<!DOCTYPE html>
<html>
<head>
  <title>AM Portfolio Photography</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js" defer></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>


  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>


  <body>
    <!-- Navbar sticky -->
    <nav class="navbar">
      <div class="navbar-container">
        <!-- Logo -->
        <div class="navbar-logo logo">
          <h1>Ant<span class="man-highlight">M.</span></h1>
          <h2>Portfolio</h2>
        </div>
        <!-- Menu -->
        <div class="navbar-links">
          <%= link_to "Accueil", root_path, class: "nav-link" %>
          <%= link_to "Collections", collections_path, class: "nav-link" %>
          <%= link_to "Vignettes", fragments_path, class: "nav-link" %>
          <%= link_to "A propos", a_propos_path, class: "nav-link" %>
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </div>
      </div>
    </nav>

    <%= yield %>

  <footer class="site-footer">
  <div class="container">
    <p>AM - Gimix Collections</p>
    <p>&copy; 2025 Tous droits réservés.</p>
    <nav>
      <%= link_to "Contact", contact_path %> |
      <a href="https://instagram.com/ant_in_thecity" target="_blank" rel="noopener noreferrer">Instagram</a> |
      <a href="https://facebook.com/tonprofil" target="_blank" rel="noopener noreferrer">Facebook</a>
    </nav>
  </div>
</footer>


  </body>
</html>

<style>
  .navbar {
    width: 100%;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    padding: 15px 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
  }

  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #111;
  }

  .navbar-links {
    display: flex;
    gap: 30px;
  }

  .nav-link {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
  }

  .nav-link:hover {
    color: #8e2a50;
    border-color: #8e2a50;
  }

  .logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #111;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .logo h1::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #111;
    transition: width 0.4s ease;
  }

/*  .logo:hover h1 {
    transform: scale(1.05);
  }

  .logo:hover h1::after {
    width: 100%;
  }*/

  .man-highlight {
  color: #8e2a50; /* Rouge bordeaux */
  text-decoration: none; /* Pas de soulignement */
  }

  .logo:hover h1 .man-highlight {
    text-decoration: none; /* Supprime le soulignement au survol */
  }


  .site-footer {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-size: 1rem;
}

.site-footer .container {
  max-width: 900px;
  margin: 0 auto;
}

.site-footer nav a {
  color: #8e2a50;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.site-footer nav a:hover {
  color: #c45a7a;
}


  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    .navbar-links {
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
